# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Monorepo
api/dist/
api/node_modules/
web/node_modules/
web/.next/
web/out/

# SO/editores
.DS_Store
Thumbs.db
